
.shiny-notification {
  height: 100px;
  width: 800px;
  position:fixed;
  top: calc(50% - 50px);;
  left: calc(50% - 400px);;
}

#sidebar {
        /* background-color: #AFD8E6; */  
  background: rgb(250,240,210);
  background: linear-gradient(90deg, rgba(250,240,210,1) 0%, rgba(255,239,204,1) 100%); 
        
}
.navbar {
  background: rgb(27,73,66);
  background: linear-gradient(90deg, rgba(27,73,66,1) 0%, rgba(44,55,53,1) 100%); 
}



@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif!important;
}

.action-button {
  background: rgb(92,147,137);
  background: linear-gradient(90deg, rgba(92,147,137,1) 0%, rgba(69,124,74,1) 100%); 

  color: rgb(255, 255, 255) !important;

  border: 3px white !important;
}

.bttn-unite.bttn-default {

  background: rgb(92,147,137);
  background: linear-gradient(90deg, rgba(92,147,137,1) 0%, rgba(69,124,74,1) 100%); 

  color: rgb(255, 255, 255) !important;

  border: 3px white !important;

}

.action-button::before {
  background:rgb(50, 90, 53) !important;
  
}

.action-button::after {
  background: rgb(213, 178, 104) !important;
}

/* Button Groups for the checkbox */

.btn-primary {
  background-color: rgb(72,138,153) !important;
  border: 1px white !important;
}

/* Confirm button in the demo data pop up */

.confirm {
  background-color: rgb(50, 90, 53) !important;
}

.sa-line {
  background-color: rgb(50, 90, 53) !important;
}

.sa-icon {
  border-color: rgb(50, 90, 53) !important;
}

/* Slider bars */

.irs-bar {
  top: 25px;
  height: 8px;
  border-top: 1px solid rgb(50, 90, 53) !important;
  border-bottom: 1px solid rgb(50, 90, 53) !important;
  background: rgb(50, 90, 53) !important;
}

.irs-single {
  color: #fff;
  text-shadow: none;
  padding: 1px 3px;
  background-color: rgb(50, 90, 53) !important;
  border-radius: 3px;
  font-size: 11px;
  line-height: 1.333;
}


/* Button to upload files */

.btn-default{
  color: #ffffff;
  background-color: rgba(92,147,137,1) !important;
  border-color: rgb(50, 90, 53) !important;
}

.btn-default:hover{

  background-color: rgb(50, 90, 53) !important;

}



/* Checkboxes for the report mainly */

.pretty input:checked ~ .state.p-info-o label::before, .pretty.p-toggle .state.p-info-o label::before {
  border-color: rgb(50, 90, 53) !important;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-info-o label::after {
  background-color: rgb(50, 90, 53)!important;
  
}

.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before {
  background-color: rgb(50, 90, 53)!important;

  border-color: rgb(50, 90, 53)!important;

}


/* rendering report  */



.shiny-notification-message {

  color: rgb(50, 90, 53)!important;
  background-color: rgb(202, 235, 204)!important;
  border: 1px solid rgb(50, 90, 53)!important;

}

