
.shiny-notification {
              height: 100px;
              width: 800px;
              position:fixed;
              top: calc(50% - 50px);;
              left: calc(50% - 400px);;
            }

#sidebar {
        background-color: #AFD8E6;
    }

#preprocessing-tab {
  background-color: #cc3f3f;
  pointer-events: none;
}


.navbar-default > li > a[data-value='preprocessing']  {
  background-color: #006747;
}



#tab-8880-2 {
  pointer-events: none;
}

